body {
	background: -webkit-linear-gradient(-8deg, rgb(255, 255, 255),rgb(0, 59, 119))
} //漸層背景

h3{
	background-color: #FFFFDF;
	color: black;
	padding: 16px;
}


h3:hover {
	background-color: #FFD2D2;
} //hover時背景顏色改變

::selection {
	color: white;
	background: green;
} //文字反白時會改變背景顏色

img {
	max-height: auto;
	opacity: 1.0;
	border-radius: 80%;
	opacity: 0.4;
}

img:hover {
	max-height: auto;
	opacity: 1.0;
	border-radius: 80%;

} //hover時圖形形狀會變

.line {
		font-family: "Courier New", monospace;
} //改字體
